<ion-view view-title="首页">
    <ion-nav-buttons side="left">
        <a href="#/tab/search" class="button button-icon icon ion-ios-search"></a>
    </ion-nav-buttons>
    <ion-content class="bg-color">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <img width="100%"
                     src="http://res.126.net/p/dbqb/resupload/onlinepath/2015/12/31/5/8e3e17d0cda502c8d48c31669d6530ed.jpg">
            </ion-slide>
            <ion-slide>
                <img width="100%"
                     src="http://res.126.net/p/dbqb/resupload/onlinepath/2015/9/1/4/5dc3aa087ef0c7c0fe2452255d21a833.jpg">
            </ion-slide>
            <ion-slide>
                <img width="100%"
                     src="http://res.126.net/p/dbqb/resupload/onlinepath/2016/1/4/6/ca6dd0c8680540597b7ca6e80988f914.jpg">
            </ion-slide>
        </ion-slide-box>
        <div class="row m-menu">
            <div class="col col-25 text-center">
                <a href="http://www.baidu.com" target="_blank">
                    <img class="icon" src="http://www.dpfile.com/sc/api_res/mindex/indexicon/client/uis/7.5.0/food.png">
                    <span>美食</span>
                </a>
            </div>
            <div class="col col-25 text-center">
                <a href="http://www.baidu.com" target="_blank">
                    <img class="icon"
                         src="http://www.dpfile.com/sc/api_res/mindex/indexicon/client/uis/7.5.0/movie.png">
                    <span>电影</span>
                </a>
            </div>
            <div class="col col-25 text-center">
                <a href="http://www.baidu.com" target="_blank">
                    <img class="icon"
                         src="http://www.dpfile.com/sc/api_res/mindex/indexicon/client/uis/7.5.0/relax.png">
                    <span>娱乐</span>
                </a>
            </div>
            <div class="col col-25 text-center">
                <a href="http://www.baidu.com" target="_blank">
                    <img class="icon" src="http://www.dpfile.com/sc/eleconfig/201512231819241.png">
                    <span>丽人</span>
                </a>
            </div>
        </div>
        <div class="list">
            <div class="item item-divider">
                猜你喜欢
            </div>
            <a class="item item-thumbnail-left" href="#">
                <img src="http://i3.s2.dpfile.com/pc/mc/d51712c4b5a49ae3b8cd78a04d1f8060(160x100)/thumb.jpg">
                <h2>林泉山庄餐厅</h2>
                <p>[2店通用]仅售118元，价值286元3~4人套餐，不限时段通用，免费停车位，免费WiFi！</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="http://i3.s2.dpfile.com/pc/mc/d51712c4b5a49ae3b8cd78a04d1f8060(160x100)/thumb.jpg">
                <h2>林泉山庄餐厅</h2>
                <p>[2店通用]仅售118元，价值286元3~4人套餐，不限时段通用，免费停车位，免费WiFi！</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="http://i3.s2.dpfile.com/pc/mc/d51712c4b5a49ae3b8cd78a04d1f8060(160x100)/thumb.jpg">
                <h2>林泉山庄餐厅</h2>
                <p>[2店通用]仅售118元，价值286元3~4人套餐，不限时段通用，免费停车位，免费WiFi！</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="http://i3.s2.dpfile.com/pc/mc/d51712c4b5a49ae3b8cd78a04d1f8060(160x100)/thumb.jpg">
                <h2>林泉山庄餐厅</h2>
                <p>[2店通用]仅售118元，价值286元3~4人套餐，不限时段通用，免费停车位，免费WiFi！</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="http://i3.s2.dpfile.com/pc/mc/d51712c4b5a49ae3b8cd78a04d1f8060(160x100)/thumb.jpg">
                <h2>林泉山庄餐厅</h2>
                <p>[2店通用]仅售118元，价值286元3~4人套餐，不限时段通用，免费停车位，免费WiFi！</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="http://i3.s2.dpfile.com/pc/mc/d51712c4b5a49ae3b8cd78a04d1f8060(160x100)/thumb.jpg">
                <h2>林泉山庄餐厅</h2>
                <p>[2店通用]仅售118元，价值286元3~4人套餐，不限时段通用，免费停车位，免费WiFi！</p>
            </a>
        </div>
    </ion-content>
</ion-view>
